<h1>Search Result</h1>

<h2>Target Image</h2>

<center>
  <img src="1558249501.jpg">
</center>

<h2>Search Result</h2>

<center>
  <h2>
    1
    <%= image_tag("eiffel/paris_eiffel_000000.jpg", :alt => "", id: 'home-image', class: 'cover-img') %>
  </h2>

  <h2>
    2
    <%= image_tag("general/paris_general_000138.jpg", :alt => "", id: 'home-image', class: 'cover-img') %>
  </h2>

  <h2>
    3
    <%= image_tag("general/paris_general_000084.jpg", :alt => "", id: 'home-image', class: 'cover-img') %>
  </h2>

  <h2>
    4
    <%= image_tag("general/paris_general_000021", :alt => "", id: 'home-image', class: 'cover-img') %>
  </h2>

  <h2>
    5
    <%= image_tag("eiffel/paris_eiffel_000136.jpg", :alt => "", id: 'home-image', class: 'cover-img') %>
  </h2>

  <h2>
    6
    <%= image_tag("eiffel/paris_eiffel_000212.jpg", :alt => "", id: 'home-image', class: 'cover-img') %>
  </h2>

  <h2>
    7
    <%= image_tag("general/paris_general_000143.jpg", :alt => "", id: 'home-image', class: 'cover-img') %>
  </h2>

  <h2>
    8
    <%= image_tag("eiffel/paris_eiffel_000005.jpg", :alt => "", id: 'home-image', class: 'cover-img') %>
  </h2>

    <h2>
    9
    <%= image_tag("eiffel/paris_eiffel_000086.jpg", :alt => "", id: 'home-image', class: 'cover-img') %>
  </h2>

    <h2>
    10
    <%= image_tag("eiffel/paris_eiffel_000219.jpg", :alt => "", id: 'home-image', class: 'cover-img') %>
  </h2>



</center>





<%# @homes.each do |home| %>
  <%#= link_to(image_tag("#{home.cate}/#{home.images.first.name}", :alt => "", id: 'home-image', class: 'cover-img'), home_path(home.id)) %>
<%# end %>
